<div class="center jumbotron">
  <marquee style="font-size: 3em; color: #cc9900">Matador Exchange Internal Management System</marquee>

<%= link_to image_tag("img1.jpg", alt: "Rails logo"),
            'http://www.google.com' %>

</div>
